@font-face {
    font-family: "Rubrik";
    src: url("./fonts/Rubik_Scribble/RubikScribble-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "Playfair";
    src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf")
        format("truetype");
}

:root {
    --dark-purple: #22223b;
    --purple: #4a4e69;
    --lavender: #9a8c98;
    --beige: #c9ada7;
    --cream: #f2e9e4;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--dark-purple);
}

#content {
    margin-bottom: 20px;
}
h1,
h2 {
    text-align: center;
    font-family: "Playfair";
    color: var(--beige);
}

h1 span {
    font-family: "Rubrik";
}

#main-img {
    height: 325px;
}

#side-img1,
#side-img2 {
    display: block;
    height: 325px;
    width: 300px;
    object-fit: cover;
}

#side-img1 {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#side-img2 {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: center;
    width: 60rem;
    height: max-content;
    gap: 1rem;
    margin: 1rem;
    border-bottom: 2px solid var(--lavender);
}

button {
    background-color: var(--dark-purple);
    color: var(--cream);
    border: 2px solid var(--lavender);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px;
    width: 5rem;
    transition: all ease-in 0.3s;
    font-family: "Playfair";
}

#img-container {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    border-radius: 2rem;
}

.food-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#item-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    font-family: "Playfair";
    color: var(--cream);
    border: 2px solid var(--lavender);
    background-color: var(--purple);
    border-radius: 3px;
    box-shadow: 1px 3px 5px;
    width: 50%;
}

.item-price {
    display: flex;
    justify-content: space-between;
}

.about-div {
    font-family: "Playfair";
    color: var(--beige);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.phone-num {
    font-size: 32px;
    font-weight: bold;
    color: var(--beige);
}

.about-img {
    height: 300px;
    border-radius: 25px;
    box-shadow: 1px 3px 5px;
}

#active {
    background-color: var(--lavender);
    color: var(--dark-purple);
    border: 2px solid var(--lavender);
    height: 40px;
}

button:hover {
    cursor: pointer;
    text-shadow: 0 0 5px var(--cream);
    font-weight: 600;
}

footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    color: var(--cream);
    justify-content: center;
    border-top: 2px solid var(--lavender);
}

i {
    color: var(--cream);
}
